html
    head
        title RSVP Recieved
        link(rel="stylesheet" type="text/css" media="screen" href="style.css")
    body
        h1 Thank you. Your response has been received.
        a(href="/guestlist") Continue