fieldset {
    max-width: 30%;
    margin-bottom: 20px;
}

legend {
    font-size: 20px;
}

input {
    margin-bottom: 10px;
}

ul {
    font-size: 22px;
    list-style: none;
}

li {
    font-size: 18px;
    margin-left: 15px;
    font-weight: normal;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}